<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Poppins&display=swap"
    rel="stylesheet">
  <title>Odontologia</title>
  <link rel="stylesheet" href="../static/styles/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="../static/styles/login.css">
</head>

<body class="d-flex justify-content-center align-items-center">

  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top ">
    <div class="container">
      <a class="navbar-brand" href="#"><img src="../static/img/logo.png" alt="logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link " href="./index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./index.html#feature">Sobre nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./index.html#galeria">Galeria</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./index.html#servicios">Servicios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./index.html#contacto">Contactanos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Ingresar</a>
          </li>
          <nav class="navbar navbar-light bg-light">
          </nav>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container mt-4">

    <div class="row align-items-center justify-content-center">
      <div class="col-md-5">
        <form name="" action="" id="formularioLogin">
          <fieldset>
            <h1 class="d-flex justify-content-center">
              Ingresar
            </h1>
            <div class="mb-3r mt-4">
              <label for="dni" class="form-label">DNI</label>
              <input type="text" class="form-control" id="dni" name="dni" placeholder="Ingrese su DNI">
            </div>
            <div class="mb-3 mt-3">
              <label for="password" class="form-label">Contraseña</label>
              <input type="password" class="form-control" id="password" name="password"
                placeholder="Ingrese su contraseña">
            </div>
            <div class="mb-3 d-flex justify-content-center mt-4">
              <button class="btn btn-primary me-3" type="submit">Ingresar</button>
              <a href="/">
                <button class="btn btn-danger" type="button">
                  Cancelar
                </button>
              </a>
            </div>
            <div class="mb-3 d-flex justify-content-center">
              <a href="./register.html">No tiene usuario? Registrese aqui</a>
            </div>
            <div class="mb-3 d-flex justify-content-center">
              <a href="./login_odontologo.html">Es odontologo? Ingrese aqui</a>
            </div>

            <div class="mb-3 d-flex justify-content-center">
              <a href="./login_admin.html">Es administrador? Ingrese aqui</a>
            </div>

            <div id="response" style="display:none; margin-top:10px">
            </div>
          </fieldset>
        </form>


        <!--        <div class="mb-3">-->
        <!--          <label for="exampleFormControlInput3" class="form-label">Rol</label>-->
        <!--          <select class="form-select form-select-sm" aria-label=".form-select-sm example" id="exampleFormControlInput3">-->
        <!--            <option selected value="1">Paciente</option>-->
        <!--            <option value="2">Odontologo</option>-->
        <!--            <option value="3">Administrador</option>-->
        <!--          </select>-->
        <!--        </div>-->





      </div>
    </div>
  </div>
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="../static/js/login.js"></script>
</body>

</html>